<nav>
<input type='text' name='search' id='search' placeholder='search'><br>
</nav>
<input type='text' name='title' id='idea-title' placeholder='title'><br>
<input type='text' name='body' id='idea-body' placeholder='idea'><br>
<div type="submit" id="idea-submit">Submit</div>
<main>
</main>
