<nav>
  <p>Placeholder</p>
</nav>
<main>
</main>
Title: <input type='text' name='title' id='idea-title'><br>
Body: <input type='text' name='body' id='idea-body'><br>
<input type="submit" id="idea-submit" value="Submit">
