<nav>
  <div class='nav-container'>
    <h1>Idea Box</h1>
    <p id="new-idea">New Idea</p>
    <input type='text' name='search' id='search' placeholder='search'><br>
  </div>
</nav>
<div id="idea-form">
  <input type='text' name='title' id='idea-title' placeholder='title'><br>
  <textarea name='body' id='idea-body' placeholder='idea'></textarea><br>
  <div type="submit" id="idea-submit">Submit</div>
</div>
<main>
</main>
